services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: weg_api
    depends_on:
      - ollama
    ports:
      - "8000:8000"
    env_file: .env
    volumes:
      - ./data:/app/data
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: weg_frontend
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    command: streamlit run app_frontend.py --server.port=8501 --server.address=0.0.0.0
    depends_on:
      - api

  ollama:
    image: ollama/ollama:latest
    container_name: ollama_service
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  ollama-pull-model:
    image: ollama/ollama:latest
    container_name: ollama_pull_model
    volumes:
      - ollama_data:/root/.ollama
    entrypoint: /bin/sh
    command: -c "ollama serve & sleep 5 && ollama pull mistral"
    depends_on:
      - ollama

volumes:
  ollama_data: